---
- name: Run nginx container on Docker hosts
  hosts: docker_hosts
  gather_facts: false

  tasks:
    - name: Pull nginx image
      community.docker.docker_image:
        name: nginx
        source: pull

    - name: Run nginx container
      community.docker.docker_container:
        name: ansible-nginx
        image: nginx:latest
        state: started
        restart_policy: unless-stopped
        ports:
          - "8081:80"
